body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgb(100, 100, 100) rgb(32, 32, 36);
}

#root {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(32, 32, 36);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(100, 100, 100);
  border-radius: 10px;
  border: 2px solid rgb(32, 32, 36);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(150, 150, 150);
}

